.page-top.animated.fadeInDown
  .nav
    li
      if is_home()
        a.current(href="/")= __('Home')					
      else
        a(href="/")= __('Home')	
    li
      if is_archive()
        a.current(href="/archives")= __('Archive')
      else
        a(href="/archives")= __('Archive')
    li
      if is_current('about')
        a.current(href="/about")= __('About')     
      else
        a(href="/about")= __('About')
    li
      if is_current('Links')
        a.current(href="/links")= __('Links')					
      else
        a(href="/links")= __('Links')
      li
        #search-box
          a.fa.fa-search
          form.site-search-form
            input#local-search-input.st-search-input(type="text")
          #local-search-result.local-search-result-cls

  .information
    .back_btn
      li
        if is_post()
          a.fa.fa-chevron-left(onclick="window.history.go(-1)") 
        else
          a.fa.fa-chevron-left(onclick="window.history.go(-1)",style="display:none;") 

script#local.search.active.
  var inputArea       = document.querySelector("#local-search-input");
  inputArea.onclick   = function(){ getSearchFile(); this.onclick = null }
  inputArea.onkeydown = function(){ if(event.keyCode == 13) return false }
if theme.daovoice
  if theme.daovoice.enable==true
    script.
      daovoice('init', {
        app_id: "#{theme.daovoice.appid}"
      });
      daovoice('update');
